body {
    background-image: url('../images/purple-wallpaper.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;

    margin-inline:20%;
    margin-block:10vh;
    
    font-family: monospace;
    font-size:1.2em;
    color:white;
}

.container {
    margin:auto;
    padding:16px;
    background-image: url('../images/Background-Effect-HTML-CSS-4049511124.gif');
}

/*header*/

header {
    height:240px;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to left, rgba(117, 14, 60, 0.8), rgba(39, 0, 106, 0.8));
    backdrop-filter:blur(4px);
}

header h1 {
    background: linear-gradient(to right, orange, purple );
    background-clip:text;
    color:transparent;
}

/*navigation bar*/

nav div {
    display:flex;
    background: black;
}

nav a {
    color:white;
    text-decoration:none;
    border:2px solid;
    padding: 14px;
    text-align: center;
    width:100%;
}

nav a:hover, #active {
    background-color:white;
    color:grey;
}

/*content*/

#pic {
    display:block;
    height:150px;
    margin:auto;
    padding-top:5%;
}

#logo {
    margin:auto;
    margin-block:16px;
    text-align:center;
    padding:8px;
    color:deeppink;
}

#png {
    height:400px;
    float:right;
    padding:5%;
}

#shinmyoumaru {
    height:60px; 
    display: block; 
    margin: auto;
}

/*Extra content*/

.box {
    display: flex;
    background-image: url('../images/Background-Effect-HTML-CSS-4049511124.gif');
    margin-block:8px;
    padding:12px;
}

.box div {
    height:200px;
    width: 100%;
    border:2px solid;
    padding:16px;
    margin:4px;
    overflow: scroll;
}

/*About*/

.section {
    border:5px solid;
    border-image-slice:1;
    border-image-source:linear-gradient(to right, orange, purple);
    padding:10px;
}

.section p {
    border:3px solid;
    border-image-slice:1;
    border-image-source:linear-gradient(to right, orange, purple);
    padding:10px;
}

/*Social*/

#social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    height:200px;
    width: auto;
    border:3px solid;
    border-image-slice:1;
    padding:12px;
    margin:6px;
    float:left;
}

a {
    color:aqua;
}

a:hover {
    color:deepskyblue;
}

/*icon*/

.social-ico {
    display:flex;
    justify-content: center;
    align-items: center;
}

.social-ico i {
    color:grey;
    padding-top:32px;
    padding-inline:6px;
    font-size:32px;
}

.social-ico i:hover {
    color:white;
}

/*smaller screen*/

@media only screen and (max-width: 1200px) {
    body {margin-inline: auto; margin-block: 5vh;}
    .navbar a {padding: 10px; border: 1px solid; font-size: small;}
    #png {height: 240px; float: none; display: block; margin: auto;}
    .box {display: block; padding: 12px; margin-block: 16px;}
    .box div {width: auto; float: none; margin: auto; margin-block: 8px;}
    #social {display: block;}
    .link {width: auto; float: none; margin: auto; height: auto; margin-block: 10px; text-align: center;}
}

/*mobile device*/
@media only screen and (max-device-width: 768px) {
    body {margin-block: 5vh; background-attachment: scroll; font-size: 1em;}
    .bgimg {background-attachment: scroll;}
    header h1 {font-size: 1.4em;}
    .navbar {border: none}
}