body {
    background-color:black;
    color:white;
    margin:0px;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('images/shrine.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;

}
h2 {
    color:springgreen;
    font-family: Calibri;
    font-size:27px;
}

/*Navigation Bar*/
.navbar div {
    display:flex;
    background-color: black;
}
.navbar a {
    font-family:monospace;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border:2px solid;
    width: 100%;
    padding: 14px;
    color:white;
}
.navbar a:hover {
    background-color: white;
    color:grey;
}

/*Header*/
.bgimg-1 {
    background-image: url('/images/hello-world.gif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    padding-block:30vh;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family:monospace;
    border-style: solid;
    background-color: #182f36b1;
    width: 300px;
    margin-inline: auto;
}    

#pic {
    display: block;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    padding: 8px;
}

/*Main*/
.content {
    margin-inline:128px;
}
#head {
    text-align: center;
    background-color:#0e1c20;
    margin:0px;
    font-size:32px;
    border:4px solid;
    padding: 24px;
}
.content div {
    background-color: #24256389;
    padding:64px;
    margin: 12px;
    backdrop-filter:blur(6px);
    border-radius:12px;
}

#Reimu {
    display: flex;
    float:right;
    height: 480px;
    margin-inline:auto;
}

#link a {
    color:cornflowerblue;
}
#link span :hover {
    color:white;
}

#post {
    text-align: center;
    font-family: 'Arial';
}
.load {
    height:31px;
    width:88px;
    border-radius: 0px;
    margin-top:160px;
    background-color:#111111;
    color:aliceblue;
}
#post a :hover {
    background-color: white;
    color:grey;
}

/*Footer*/
.footer {
    margin:0px;
    padding:64px;
    background-color: #111111;
    text-align: center;
}
#back {
    height:31px;
    width:88px;
    border-radius: 0%;
    background-color: white;
    margin: 16px;
}
.icon a {
    margin-top:16px;
    color:white;
}

/*smaller screen*/
@media only screen and (max-width: 1024px) {
    .navbar a { border:1px solid}
    #logo {font-size: 32px; width: 210px;}
    #pic {height: 150px;}
    #Reimu {float:none; height: 360px}
    .content {margin:8px;}
    .content div {padding: 24px;}
}

@media only screen and (max-device-width: 768px) {
    .bgimg-1, body{ background-attachment: scroll;}
    .content {margin:4px;}
    .content div {padding:12px;}
}